.sub-text {
  color: #C6C6C6;
  font-size: 25px;
  padding: 0 20vw;
  margin-top: 5px;
  margin-bottom: 90px;
}

.login-contents {
  margin-top: 80px;
  margin-bottom: 80px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100px
}

h1 {
  font-size: 80px;
  margin: 0;
  padding: 0;
  color: #F8F9FD;
  font-family: 'ClashGrotesk-Regular';
  font-style: normal;
}