@import url('clash-grotesk.css');

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
  /* width: 90vw; */
  /* background: rgb(0 100 0 / 0.1) !important; */
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #F8F9FD;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #0F62FF, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}


.submit-gif-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  padding-bottom: 45px;
}

.app {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}